.div_1{
    background-color: greenyellow;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_2{
    background-color: whitesmoke;
    height: 50vh;
    width: 50vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}